services:
    phpunit-8-1:
        env_file: ./docker/php-dev/docker.env
        build:
            dockerfile: ./docker/php-dev/Dockerfile
            args:
              - PHP_VERSION=8.1
        volumes:
            - ./:/var/www
        extra_hosts:
            - "host.docker.internal:host-gateway"
    phpunit-8-2:
        env_file: ./docker/php-dev/docker.env
        build:
            dockerfile: ./docker/php-dev/Dockerfile
            args:
              - PHP_VERSION=8.2
        volumes:
            - ./:/var/www
        extra_hosts:
            - "host.docker.internal:host-gateway"
    phpunit-8-3:
        env_file: ./docker/php-dev/docker.env
        build:
            dockerfile: ./docker/php-dev/Dockerfile
            args:
              - PHP_VERSION=8.3
        volumes:
            - ./:/var/www
        extra_hosts:
            - "host.docker.internal:host-gateway"
    phpunit-8-4:
        env_file: ./docker/php-dev/docker.env
        build:
            dockerfile: ./docker/php-dev/Dockerfile
            args:
              - PHP_VERSION=8.4
        volumes:
            - ./:/var/www
        extra_hosts:
            - "host.docker.internal:host-gateway"
    phpunit-8-5:
        env_file: ./docker/php-dev/docker.env
        build:
            dockerfile: ./docker/php-dev/Dockerfile
            args:
              - PHP_VERSION=8.5
        volumes:
            - ./:/var/www
        extra_hosts:
            - "host.docker.internal:host-gateway"
    mysql80:
        image: mysql:8.0
        restart: 'no'
        environment:
            MYSQL_DATABASE: test_db
            MYSQL_ROOT_PASSWORD: password
    mysql84:
        image: mysql:8.4
        restart: 'no'
        environment:
            MYSQL_DATABASE: test_db
            MYSQL_ROOT_PASSWORD: password
    mariadb11:
        image: mariadb:11.4.5
        restart: 'no'
        environment:
            MYSQL_DATABASE: test_db
            MARIADB_ROOT_PASSWORD: password
    mariadb12:
        image: mariadb:12.1
        restart: 'no'
        environment:
            MYSQL_DATABASE: test_db
            MARIADB_ROOT_PASSWORD: password
    postgresql10:
        image: postgres:10
        restart: 'no'
        environment:
            POSTGRES_PASSWORD: password
    postgresql16:
        image: postgres:16
        restart: 'no'
        environment:
            POSTGRES_PASSWORD: password
    sqlsrv2019:
        image: mcr.microsoft.com/mssql/server:2019-latest
        restart: unless-stopped
        environment:
            ACCEPT_EULA: "y"
            MSSQL_PID: Developer
            MSSQL_SA_PASSWORD: P@ssword123
            SA_PASSWORD: P@ssword123
    sqlsrv2022:
        image: mcr.microsoft.com/mssql/server:2022-latest
        restart: unless-stopped
        environment:
            ACCEPT_EULA: "y"
            MSSQL_PID: Developer
            MSSQL_SA_PASSWORD: P@ssword123
            SA_PASSWORD: P@ssword123
