parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - src/DependencyInjection/DbToolsConfiguration.php
    checkMissingOverrideMethodAttribute: true
    ignoreErrors:
        - '#Instantiated class Seld\\PharUtils\\Timestamps not found.#'
        - '#on an unknown class Seld\\PharUtils\\Timestamps.#'