:root {
  --vp-c-brand: #561fa8;
  --vp-c-brand-1: #561fa8;
  --vp-c-brand-2: #561fa8;
  --vp-c-green-light: #a279e0;
  --vp-c-brand-light: #a279e0;
  --vp-c-brand-lighter: #a279e0;
  --vp-c-brand-dark: #221157;
  --vp-c-brand-darker: #221157;
  --vp-c-text-code: #221157;
  --vp-button-brand-border: transparent;
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-active-border: transparent;
  --vp-button-alt-border: transparent;
  --vp-button-alt-hover-border: transparent;
  --vp-button-alt-active-border: transparent;
  --vp-makina-logo-text: var(--vp-c-brand-dark);
}

.dark {
  --vp-c-brand: #bec931;
  --vp-c-brand-2: #bec931;
  --vp-c-green-light: #ced65c;
  --vp-c-brand-light: #ced65c;
  --vp-c-brand-lighter: #ced65c;
  --vp-c-brand-dark: #D0DD2A;
  --vp-c-brand-darker: #D0DD2A;
  --vp-c-text-code: #bec931;
  --vp-makina-logo-text: white;
}

.main img {
  margin: auto;
}
