:root {
  --vp-c-brand: #561fa8;
  --vp-c-brand-1: #561fa8;
  --vp-c-brand-2: #561fa8;
  --vp-c-green-light: #a279e0;
  --vp-c-brand-light: #a279e0;
  --vp-c-brand-lighter: #f5f3ff;
  --vp-c-brand-dark: #221157;
  --vp-c-brand-darker: #221157;
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-bg: var(--vp-c-brand-dark);
  --vp-c-text-code: #221157;
  --vp-button-brand-border: transparent;
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-active-border: transparent;
  --vp-button-alt-border: transparent;
  --vp-button-alt-hover-border: transparent;
  --vp-button-alt-active-border: transparent;
  --vp-makina-logo-text: var(--vp-c-brand-dark);
  --db-tools-standalone: unset;
  --db-tools-symfony: none;
  --db-tools-laravel: none;
  --db-tools-docker: none;
}

.dark {
  --vp-c-brand: #50AF55;
  --vp-c-brand-1: #50AF55;
  --vp-c-brand-2: #50AF55;
  --vp-c-green-light: #9fd6a2;
  --vp-c-brand-light: #9fd6a2;
  --vp-c-brand-lighter: #e4f4e4;
  --vp-c-brand-dark: #2e6731;
  --vp-c-brand-darker: #234426;
  --vp-c-text-code: #50AF55;
  --vp-makina-logo-text: white;
}

.main img {
  margin: auto;
}

.main .standalone {
  display: var(--db-tools-standalone);
}

.main .symfony {
  display: var(--db-tools-symfony);
}

.main .laravel {
  display: var(--db-tools-laravel);
}

.main .docker {
  display: var(--db-tools-docker);
}
