:root {
  --vp-c-brand: #561fa8;
  --vp-c-brand-2: #561fa8;
  --vp-c-green-light: #a279e0;
  --vp-c-brand-light: #a279e0;
  --vp-c-brand-lighter: #a279e0;
  --vp-c-brand-dark: #221157;
  --vp-c-brand-darker: #221157;
  --vp-c-text-code: #221157;
  /* --vp-code-line-diff-add-color: rgba(16, 185, 129, 0.14); */
}
