name: "Coding standards"

on:
  pull_request:
    paths:
      - .github/workflows/coding-standards.yml
      - composer.*
      - .php-cs-fixer.dist.php
      - src/**
      - tests/**
  push:
    branches:
      - "main"
    paths:
      - .gitattributes
      - .github/workflows/coding-standards.yml
      - composer.*
      - .php-cs-fixer.dist.php
      - src/**
      - tests/**

jobs:
  php-cs-fixer:
    name: "PHP CS Fixer"
    runs-on: "ubuntu-22.04"

    strategy:
      matrix:
        php-version:
          - "8.2"

    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v4"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          tools: cs2pr

      - name: "Install dependencies with Composer"
        uses: "ramsey/composer-install@v3"

      - name: "Run a Code style analysis with friendsofphp/php-cs-fixer"
        run: "vendor/bin/php-cs-fixer fix --format=checkstyle --allow-risky=yes --dry-run | cs2pr"
