name: Documentation build

on:
  pull_request:
    paths:
      - .github/workflows/docs-build.yml
      - docs/**
  push:
    branches:
      - "main"
    paths:
      - .github/workflows/docs-build.yml
      - docs/**

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 18.12
      uses: actions/setup-node@v3
      with:
        node-version: 18.12
        cache: 'npm'
        cache-dependency-path: ./docs
    - run: cd docs && npm ci
    - run: cd docs && npm run docs:build
